# Protección de carpeta de dibujos
Options -Indexes

<FilesMatch "\.(png|jpg|jpeg|gif|webp)$">
    Order Allow,Deny
    Allow from all
</FilesMatch>

<FilesMatch "\.(php|php3|php4|php5|phtml|pl|py|jsp|asp|sh|cgi|exe)$">
    Order Allow,Deny
    Deny from all
</FilesMatch>